In [1]:
import numpy as np
import pandas as pd

In [3]:
data = np.arange(1,13).reshape(4,3)
data

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [4]:
df = pd.DataFrame(data, columns=list('abc'))
df

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

각열의 합을 구하는 함수를 만들어 df에 적용해보기

In [18]:
def f1(x):
    return x[0] + x[1] + x[2] + x[3]
df.apply(f1,axis=0)

a     22.0
b     26.0
c     30.0
총합     NaN
dtype: float64

In [19]:
def f2(x):
    return x[0] + x[1] + x[2]
df.apply(f2,axis=1)

0     6.0
1    15.0
2    24.0
3    33.0
dtype: float64

In [21]:
def f_sum(x):
    return x.sum()
df.apply(f_sum, axis=0)

a     22.0
b     26.0
c     30.0
총합     0.0
dtype: float64

2*a + 3*b + c = ?

In [6]:
def fn(x):
    

2*df['a'] + 3*df['b'] + df['c']

0    11
1    29
2    47
3    65
dtype: int32